<form class="col">
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
            <h2>Name</h2>
        </label>
        <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name" >
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">
            <h2>Title</h2>
        </label>
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
    </div>
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
            <h2>Quote</h2>
        </label>
        <input type="text" class="form-control" placeholder="Quote" [(ngModel)]="quote">
    </div>
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
            <h2>Author</h2>
        </label>
        <input type="text" class="form-control" placeholder="Author" [(ngModel)]="author">
    </div>
    <div class="form-group">
        <label for="date">
            <h2>Date</h2>
        </label>
        <input type="date" class="form-control" [(ngModel)]="date">
    </div>
    <div class="col-md-3">
        <button class="btn btn-success w-100" (click)="onSave()">Save</button>
    </div>
</form>