<form class="col" (ngSubmit)='submitQuote()' #quoteForm ='ngForm' bg-dark text-white>
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
           <p>Your Name</p> 
        </label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">
            Quote Title
        </label>
        <input type="text" required class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title='ngModel' required>
    </div>
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
            Quote
        </label>
        <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel'required >
    </div>
    <div class="form-group mt-5">
        <label for="formGroupExampleInput">
            Authors Name
        </label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-success" >Save</button>
    </div>
</form>