<div class="container-fluid">
  <h1 class="headone bg-primary text-light text-center mt-5">Quotes</h1>
  <div class="row">
      <div class="col-md-4">
        <app-form-input (emitNewQuote)="saveQuote($event)"></app-form-input>
      </div>
    <div class="col">
      <div class="card"*ngFor="let quote of quotes; let i=index">
        <div class="card-header">
          <h4>{{quote.name}}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{quote.title}}</h5>
          <p class="card-text">{{quote.author}}</p>
          <p class="card-text">{{quote.date}}</p>
          <div class="row">
            <div class="col-md-4">
                <a (click)="thumbsup(i)"><i class="fas fa-thumbs-up"></i></a>{{quote.thumbsup}}
            </div>
            <div class="col-md-4">
              <a (click)="thumbsdown(i)"><i class="fas fa-thumbs-down"></i></a>{{quote.thumbsdown}}
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
